#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.card {
  padding: 2em;
}

.topbar {
  background-color: #353438;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

.projectname {
  color: #fff;
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.groupnumber {
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}
