@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#root {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';

  --primary: #338044;
  --accent: #994D83;
  --secondary: rgb(161, 117, 91);
  --darker: #202020;
  --bg: #2F2F2F;
  --bg-accent: #3E3E3E;
  --text-color: #EDECEC;
  
}

.card {
  padding: 2em;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

.projectname {
  color: var(--text-color);
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.groupnumber {
  color: var(--text-color);
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}


.scrollable-two-screens {
  background-color: var(--bg);
  height: 100vh; /* Set the height of the container to the viewport height */
  position: relative;
}

.top-screen, .bottom-screen {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease; /* Smooth transition when switching screens */
}

.bottom-screen {
  height: 100%;
}

.top-screen {
  height: 100%;
}

.visible {
  transform: translateY(0); /* Initially, top screen is visible */
}

.top-screen.hidden {
  transform: translateY(-100%); /* Hide the top screen to the top */
}

.bottom-screen.hidden {
  transform: translateY(100%); /* Hide the bottom screen to the bottom */
}

.scroll-icon {
  font-size: 50px; /* Adjust the icon size as needed */
  color: #717171;
}

.home {
  color: var(--text-color);
}
