.content-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 100px 10px;
  position: relative;
}

.content-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 25px 95px;
  position: relative;
  align-self: stretch;
}

/* Rounded border */
.divider {
  align-self: stretch;
  border-top: 5px solid var(--primary);
  border-radius: 5px;
}

.home {
  color: var(--text-color);
}
